<!doctype html>
<title>Webapge for testing the captcha solver</title>
<h1>Generate a random English word captcha image:</h1>
<script src="../static/jquery-3.2.1.min.js"></script>
<script src="index.js"></script>
<button id="btnGenerate">Click to generate</button>
<br>
<span class="subtitle" style="display:none"><h3>Image:</h3></span><br>
<img id="captcha" />
<br>
<span class="subtitle" style="display:none"><h3>Prediction:</h3></span> <br>
<span id="prediction"></span>
<br>
<span class="subtitle" style="display:none"><h3>Target:</h3></span> <br>
<span id="target"></span>